@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*:focus {
  outline: none;
}

:root {
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("/images/anasayfa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  padding-top: 10px;
  height: 75px;
  width: 100%;
  z-index: 10;
  background: #ffffff;
  /* box-shadow: 0px 6px 13px rgba(226, 226, 226, 0.23); */
}
.scroll-header {
  box-shadow: 0px 6px 13px rgba(226, 226, 226, 0.23);
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.wrapper .logo {
  display: flex;
  width: 260px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  gap: 5px;
  font-size: 10px;
}

.logo img {
  align-self: flex-start;
  height: 40px;
}

.wrapper .search {
  border: 3px solid #f3f3f3;
  border-radius: 8px;
  height: 40px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f9fa;
}
.wrapper .search svg {
  margin: 0 10px;
  color: #5e6366;
  stroke-width: 3;
}

.wrapper .search input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
}

.menu {
  width: 270px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 45px;
}
.menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: 0.4s;
}
.menu a img {
  width: 20px;
  height: 20px;
}
.btn:hover {
  background-color: #f3f3f3;
}

.server-status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
}

/* ---------------------------------------------------- */

.container {
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  max-width: 1000px;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.container .message {
  margin: 30px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  justify-self: flex-start;
}
.container .message .username {
  font-weight: bold;
  font-size: 16px;
}

/* !--------------------- */
.announcement {
  margin: 0 10px 25px 10px;
  height: 170px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-self: center;
  gap: 20px;
}

hr {
  border: 1px solid #cacaca;
  border-radius: 5px;
  height: 70%;
  align-self: center;
}

.part1 {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.part1 h1 {
  font-weight: 600;
  font-size: 14px;
}

.part1 .ann {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ann .bell-wrapper {
  height: 40px;
  width: 40px;
  border: 3px solid #f3f3f3;
  border-radius: 8px;
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ann .bell-wrapper .bell-svg {
  width: 22px;
  height: 22px;
  stroke-width: 3;
}

.part1 .ann h3 {
  font-weight: 600;
  font-size: 14px;
}

.part1 .ann p {
  width: 70%;
  font-weight: 300;
  font-size: 12px;
}

.part2 {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.part2 h1 {
  font-weight: 600;
  font-size: 14px;
}

.part2 .sys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sys .alert-wrapper {
  height: 40px;
  width: 40px;
  border: 3px solid #f3f3f3;
  border-radius: 8px;
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sys .alert-wrapper .alert-svg {
  width: 22px;
  height: 22px;
  stroke-width: 3;
  color: #ea3d2f;
}

.sys p {
  width: 90%;
  font-weight: 600;
  font-size: 12px;
  color: #2f3338;
}

/* !--------------------- */

.container .controllers {
  margin: 5px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.controllers .box {
  flex: 0 32%;
  width: 278px;
  height: 145px;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 17px;
  gap: 3px;
  transition: 0.5s;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box .bg-image {
  position: absolute;
  top: auto;
  left: 7%;
  height: 120px;
  width: 120px;
  opacity: 0.1;
  z-index: 1;
}
.box .image-icon {
  z-index: 2;
  height: 30px;
  width: 30px;
}
.box .menu-name {
  z-index: 2;
}
.box:hover {
  box-shadow: none;
}

.b_1 {
  background-color: #b2b6bb;
  /* box-shadow: 0px 4px 0px 0px #4248527e; */
}
.b_1 .bg-image {
  color: #ececec;
  opacity: 0.15;
}
.b_2 {
  background-color: #424852;
}
.b_2 .bg-image {
  color: #a9b0bb;
}
.b_3 {
  background-color: #38393d;
}
.b_3 .bg-image {
  color: #868686;
}
.b_4 {
  background-color: #3aadd9;
}
.b_4 .bg-image {
  color: #66d4f1;
  opacity: 0.2;
}

.b_5 {
  background-color: #4a88da;
}
.b_5 .bg-image {
  color: #73b0f4;
  opacity: 0.2;
}

.b_6 {
  background-color: #9579da;
}
.b_6 .bg-image {
  color: #b3a4ee;
  opacity: 0.2;
}

.b_7 {
  background-color: #7cb445;
}
.b_7 .bg-image {
  color: #bce38c;
  opacity: 0.2;
}

.b_8 {
  background-color: #35ba9b;
}
.b_8 .bg-image {
  color: #61ddbc;
  opacity: 0.2;
  stroke-width: 3px;
}

.b_9 {
  background-color: #d56fac;
}
.b_9 .bg-image {
  color: #f199ce;
  opacity: 0.2;
}

.endsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: auto 10px 0 10px;

  padding-bottom: 10px;
}

.endsection .helpers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.endsection .helpers button {
  width: 125px;
  height: 35px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  background: rgba(240, 242, 245, 0.2);
  border: 3px solid #e7e7e7;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.endsection .helpers button:hover {
  background: #2f3338;
  color: white;
}
.endsection .helpers button svg {
  width: 16px;
  height: 16px;
}
.endsection .endtext {
  font-weight: 500;
  font-size: 11px;
  text-align: center;
}

@media (max-width: 900px) {
  .wrapper .logo {
    margin-left: 25px;
  }

  .menu {
    gap: 20px;
    margin-right: 10px;
  }
  .wrapper .search {
    display: none;
  }

  .announcement {
    flex-direction: column;
    height: auto;
  }

  .part1 .ann {
    flex: auto;
  }
  .part1 .ann p {
    text-align: left;
    width: 70%;
  }
  .controllers .box {
    flex: auto;
  }
}

@media (max-width: 400px) {
  .part1 .ann {
    gap: 15px;
    width: auto;
    flex-direction: column;
  }
  .part1 .ann p {
    width: 90%;
  }
  .part2 .sys {
    gap: 15px;
    flex-direction: column;
  }
  .btn {
    background-color: #f3f3f3;
  }
}
