<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Tracking Panel</title>
    <link rel="shortcut icon" href="images/server.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src=""></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">
          <img src="images/logo.png" alt="" />Order Tracking Panel BETA
        </div>

        <div class="page-header"><%- pageHeader %> </div>
        
        <div class="menu">
          <a class="btn" href="/"><img src="images/home.svg" alt="" /></a>
          <a class="" href=""
            ><img src="images/server.svg" alt="" />
            <div class="server-status"></div
          ></a>
          <a class="btn" href=""><img src="images/settings.svg" alt="" /></a>
          <a class="btn" href="/login"
            ><img src="images/log-out.svg" alt=""
          /></a>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="endsection">
        <div class="helpers">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-flag"
            >
              <path
                d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"
              ></path>
              <line x1="4" y1="22" x2="4" y2="15"></line></svg
            >Report Bug
          </button>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-info"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="16" x2="12" y2="12"></line>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
            Get Info
          </button>
        </div>
        <p class="endtext">
          YavuzOto Stock Control and Product Tracking System . All rights
          reserved 2021 ©
        </p>
      </div>
    </div>
  </body>
</html>
