<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/newproduct.css">
</head>
<body>
  <%- include('includes/header.ejs') %>

    <div class="container">
      <form class="newproduct-form" action="/new-product" method="post">
        <p class="_1">
          <label for="">Part ID</label>
          <input type="text" name="PartID" id="PartID" required/>
        </p>
        <p class="_2">
          <label for="">PartName</label>
          <input
            type="text"
            name="PartName"
            id="PartName"
          />
        </p>
        <p class="_3">
          <label for="">Year</label>
          <input type="number" name="Year" id="Year" />
        </p>
        <p class="_4">
          <label for="">Second Hand</label>
          <input type="text" name="IsSecondHand" id="IsSecondHand" />
        </p>
        <p class="_5">
          <label for="">Brand ID</label>
          <input type="text" name="BrandID" id="BrandID" />
        </p>
        <p class="_6">
          <label for="">Barcod Number</label>
          <input type="text" name="BarcodNumber" id="BarcodNumber" required/>
        </p>
        <p class="_7">
          <label for="">Price</label>
          <input type="text" name="Price" id="Price" />
        </p>
        <p class="_8">
          <label for="">Currency Status</label>
          <input type="number" name="CurrencyStatus" id="CurrencyStatus" />
        </p>
        <p class="_9">
          <label for="">Quantity</label>
          <input type="number" name="Quantity" id="Quantity" required/>
        </p>
        <p class="_10">
          <label for="" style="font-weight: bold; align-self: flex-end;">Place in Storage:</label>
        </p>
        <p class="_11">
          <label for="">Rack Place</label>
          <input type="text" name="RackPlace" id="RackPlace" required/>
        </p>
        <p class="_12">
          <label for="">Shelve Number</label>
          <input type="number" name="ShelveNumber" id="ShelveNumber" required/>
        </p>
        <p class="description">
          <label for="">Details</label>
          <textarea type="text" name="Details" id="Details"></textarea>
        </p>

        <div class="buttons">
          <button type="submit">Add Product</button>
          <button class="barcod" type="button">
            <svg
              class="barcod-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M4 5v14h16V5H4zM3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm3 4h3v10H6V7zm4 0h2v10h-2V7zm3 0h1v10h-1V7zm2 0h3v10h-3V7z"
              />
            </svg>
            <p>Use Barcode Scanner</p>
          </button>
        </div>
      </form>

<%- include('includes/end.ejs') %>