.container .newproduct-form {

  margin-top: auto;
}

.newproduct-form {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 30px;
  grid-template-areas:
    "_1  _2  _3"
    "_4  _5  _6"
    "_7  _8  _9"
    "_10  _11  _12"
    "description description description"
    "buttons buttons buttons";
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-evenly;
}

.description {
  grid-area: description;
}

._1 {
  grid-area: _1;
}

._2 {
  grid-area: _2;
}

._3 {
  grid-area: _3;
}

._4 {
  grid-area: _4;
}

._5 {
  grid-area: _5;
}

._6 {
  grid-area: _6;
}

._7 {
  grid-area: _7;
}

._8 {
  grid-area: _8;
}

.buttons {
  grid-area: buttons;
}

.container .newproduct-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.container .newproduct-form p label {
  font-size: 14px;
  align-self: flex-start;
  color: #2f3338;
}

.container .newproduct-form p input {
  padding: 8px;
  width: 200px;
  height: 35px;
  align-self: flex-start;
  background: rgba(234, 234, 234, 0.2);
  border: 2px solid rgba(47, 51, 56, 0.2);
  border-radius: 5px;
}
.container .newproduct-form p textarea {
  align-self: flex-start;
  padding: 5px;
  width: 100%;
  height: 50px;
  background: rgba(234, 234, 234, 0.2);
  border: 2px solid rgba(47, 51, 56, 0.2);
  border-radius: 5px;
  resize: none;
}
.container .newproduct-form p textarea:focus {
  border: 2px solid rgba(47, 51, 56, 0.712);
}

.container .newproduct-form p input:focus {
  border: 2px solid rgba(47, 51, 56, 0.712);
}

.container .newproduct-form .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container .newproduct-form button {
  margin-top: 45px;
  width: 160px;
  height: 50px;
  align-self: center;
  background: #1f1f20;
  border: 3px solid #dcdcdc;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  transition: 0.4s;
  border-radius: 8px;
  cursor: pointer;
}
.container .newproduct-form .barcod {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.container .newproduct-form .barcod .barcod-icon {
  fill: #ffffff;
}
.container .newproduct-form .barcod p {
  margin: 0;
  justify-self: center;
  align-self: center;
}

.container .newproduct-form button:hover {
  background: rgba(240, 242, 245, 0.2);
  border: 3px solid #1f1f2086;
  color: #1f1f20;
}

.container .newproduct-form button:hover .barcod-icon {
  fill: #1f1f20;
}

@media (max-width: 650px) {
  body {
    height: 100%;
  }

  .newproduct-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 10px;
    grid-template-areas:
      "_1"
      "_2"
      "_3"
      "_4"
      "_5"
      "_6"
      "_7"
      "_8"
      "_9"
      "_10"
      "description"
      "buttons";
    margin-bottom: 80px;
  }
}



